.header{
    display: flex;
    align-items: center;
    padding: 10px;
   
}

.header a{
    display: flex;   
    align-items: center;
    text-decoration: none;
    color: rgba(35, 106, 172, 0.904);
}
.header .logo{
    max-width: 102px;    
}
.header .title-group{
  padding-left: 25px;
}
.header .title-group i{
    padding-right: 5px;
  }